body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.maingrid {
    flexGrow: 1
}

.paper {
    padding: 20px;
}

.loader {
    padding: 100px;
}

.react-spinner {
    width: 100px;
    height: 100px;
}

.react-spinner_bar {
    background-color: black;
}

.form-group {
    margin-bottom: 20px;
}

.section-select select {
    width: calc(100% - 32px);
}

.img-wrapper {
    height: 200px;
    background-position: top !important;
}

h2.header {
    display: flex;
    line-height: 40px;
}

h2.header .logo {
    margin-right: 8px;
}

.centered {
    text-align: center;
}

.centered button {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.padded {
    padding-bottom: 10px;
}